.container {
  position: relative;
}
.img_event {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
}
.overlay {
  width: 30%;
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  padding: 0.2rem 1.5rem;
  text-align: left;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
.place {
  position: relative;
  top: 90%;
}
.overlay_title {
  font-size: 0.7rem;
  text-align: center;
}
.overlay_text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .img_event {
    display: none;
  }
  .img_event {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
  }
  .overlay_title {
    font-size: 1.2rem;
  }
  .overlay_text {
    font-size: 1rem;
  }
}
