.carousel.carousel-slider .control-arrow {
  opacity: 1;
  z-index: 2;
  top: 40%;
  background: rgba(0, 0, 0, 0.6);
  font-size: 20px;
  bottom: 40%;
}
.container {
  position: relative;
}
.img_event {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
}
.overlay {
  width: 30%;
  position: absolute;
  top: 70%;
  text-align: left;
  background: rgba(0, 0, 0, 0.6);
  color: white;
}
.place {
  position: relative;
  top: 90%;
}
.overlay_title {
  font-size: 0.7rem;
  text-align: center;
}
.overlay_text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 0.5rem;
  padding: 1px;
}
@media screen and (min-width: 1024px) {
  .img_event {
    width: 100vw;
    height: 45vh;
    object-fit: cover;
  }
  .overlay {
    top: 75%;
  }

  .overlay_title {
    font-size: 1.2rem;
  }
  .overlay_text {
    font-size: 1rem;
  }
}
