.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 0.5rem;
}
#logo_sign {
  width: 63px;
  height: 63px;
}
.container_search {
  display: flex;
  align-items: center;
  width: 100%;
  height: 3rem;
  background-color: #ffffff;
  border: solid 4px #b370b0;
  color: rgba(255, 255, 255, 1);
  font-family: "Playfair display";
  font-weight: bold;
  font-size: 15px;
  margin-left: 20%;
  margin-top: 25%;
  border-radius: 50px;
}
.input_search {
  width: 100%;
  height: 90%;
  background-color: #ffffff;
  border-style: none;
  color: black;
  font-size: 20px;
  border-radius: 50px;
}
#icon_search {
  margin-right: 5px;
}
.input_search:hover {
  border: none;
  outline: none;
}
.title {
  color: black;
  font-size: 30px;
  font-family: "Playfair Display";
  font-weight: bold;
  text-align: center;
}
.title_box {
  border: 3px solid black;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: 20%;
  border-radius: 25px;
}
.header_artistlist {
  display: flex;
  justify-content: space-between;
  margin-right: 8%;
}
.portraits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.portrait_artist {
  display: grid;
  align-items: center;
  justify-content: space-around;
  grid-template-columns: repeat(3, 60fr);
  grid-template-rows: repeat(3, 60fr);
  gap: 8em;
  margin-left: 1.5%;
  margin-top: 9%;
  overflow: hidden;
  width: 100%;
}
.name_artist {
  text-align: center;
  font-weight: 500;
  font-family: "Playfair Display";
  font-size: 20px;
}
.image_artist {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 426px) {
  .header_artistlist {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 30%;
  }
  .title_box {
    padding: 8px;
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 9%;
  }
  .container_search {
    width: 100%;
    margin-left: 5%;
    margin-top: 40%;
    margin-right: 5%;
  }
  .portrait_artist {
    grid-template-columns: repeat(1, 30fr);
    grid-template-rows: repeat(1, 30fr);
    gap: 6em;
    margin-left: 8%;
    margin-right: 8%;
  }
  .name_artist {
    font-size: 25px;
  }
}
